// Your variable overrides
// See: https://getbootstrap.com/docs/4.0/getting-started/theming/#sass-options
$enable-print-styles: false;

$body-bg: #fff;
$body-color: #435a65;

$headings-font-family: "Open Sans", serif;
$font-family-sans-serif: "Open Sans", sans-serif;
$fa-font-path: "font-awesome/fonts";

$headings-font-weight: bold;
$h1-font-size: 36px;
$h2-font-size: 28px;
$h3-font-size: 20px;


$btn-border-radius-lg: 7px;
$input-border-radius-lg: 999px;
$border-radius: 5px;

$modal-dialog-margin: 0;
$modal-content-border-width: 0;
$modal-content-border-radius: 0;

$header-color:#514345;
$primary: #B45054;
$primary-2: #D27984;
$headings-color: #19272e;
$primary-3: #0d547d;
$primary-5: #7E6D70;
$primary-6: #E4DDDE;
$primary-8: #ecf9fe;
$light: #FBF9F9;
$danger: #E7B1BA;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import "font-awesome/scss/font-awesome.scss";
html,
body {
  height: 100%;
}
.row-major {
  flex: 1;
  padding-bottom: 47px;     
}
.above-the-fold {
  @include media-breakpoint-up(md) {
    height: 100%;
    display: flex;
    flex-direction: column;

    
    .row-minor {
      padding-bottom: 2rem;

      p.cant-keep-up {
        text-align: center;
      }
    }
  }
}

h1 {
  text-align: center;
  line-height: 140%;
  color:$header-color;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}
h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  line-height: 165%;
  color:$header-color;
  &.subtitle {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
}
h3 {
  margin-top: 1.5rem;
  font-weight: normal;
  color: $primary-5;
  line-height: 165%;

  .billiard-ball {
    color: $light;
    background-color: $primary-6;
    border-radius: 999px;

    display: inline-block;
    width: 35px;
    
    text-align: center;
    margin-right: 6px;
  }
}


.primary-color {
  color: $primary;
   
}

p {
  font-size: 18px;
  line-height: 165%;
}

img {
  padding: 20px;
  max-width: 100%;
}
.badge-color {
  color:$light;
}

.fa-color {
  color: $primary-5;
}
.regular-font{
  font-weight: normal;
}
.pattern{
  background:url("../images/pattern.svg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: left top;
  padding: 23px 25px 0px 0px;
  margin: 10px 6px 0px 0px;
}

.btn {
  cursor: pointer;

  &.btn-lg {
    position: relative;
    margin: 1.5rem auto;
    padding: 15px 35px 15px 35px;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    line-height: 140%;


    
  }
}

.btn-bg-primary {
  background: linear-gradient(180deg, $primary-2 0%, $primary 100%);
  box-shadow: inset 0px 3px 2px rgba(254, 246, 247, 0.35);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  width:270px;
}

.btn-bg-light {
  background: linear-gradient(180deg, $light 0%, $light 100%);
  box-shadow: inset 0px 3px 2px rgba(254, 246, 247, 0.35);
  color:grey;
  border-color: grey;
}

.modal,
.modal-dialog,
.modal-content {
  height: 100%;
}

.modal {
  background: #fff; /* on mobile phones, the phone number input at the bottom of the screen is scrolled up revealing the dialog backdrop directly beneath the elements. Applying background fixes this display bug */

  .modal-dialog {
    margin: 0 auto;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  input.form-control {
    max-width: 100%;
    margin: 0.5em auto;
    height: 55px;
  }
  .input-with-button {
    position: relative;

    button {
      position: absolute;
      right: 7px;
      top: 11px;
      background: transparent;
      border: 0;
    }
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: 0;
    cursor: pointer;
  }

}

.modal-bar {
  position: fixed;
    top: 28px;
}

.modal-head {
  padding: 10px 10px 0px 10px;
  
}

.dot {
  padding:0px
}
.primary-bg {
  background-color: #FEF6F7;
}

.rectangle-number {
  position: absolute;
  z-index: 1;
  margin-top: -17px;
  background-color: $primary !important
}

.item {
  display: inline-block;
  background:  #F9E6E9;
  min-height: 250px;
  min-width: 400px;
  margin: 2em 1em;
  color: $primary;
  position: relative;

  border: 1px solid #FEF6F7;
  box-sizing: border-box;
  box-shadow: 0px 3px 1px rgba(129, 54, 62, 0.25);
  border-radius: 5px;

  @media screen and (max-width: 500px) {
    min-height: 200px;
    min-width: 200px;
  }
 
}

.how-rectangle {
  position: relative;
  background: #F9E6E9;
  border-radius: 0.4em;
  padding: 2rem 1rem;

  font-size: 18px;
  line-height: 165%;

  color: $primary;
 

 


   
}

.how-to-wrapper > .row {
  overflow-x: auto;
  
}
.how-to-wrapper > .row > .col-sm-6 {
  display: inline-block;
  float: none;
}
/*.container-fluid::-webkit-scrollbar {    display: none;}*/

.infinite-scroll {
  animation: scroller 60s infinite alternate backwards;
}
@keyframes scroller {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(calc(-100% + 200px));
  }
  100% {
    transform: translateY(0%);
  }
}

.inline-buttons {
  margin:10px;
}
.feature-row {
  margin-top: 3rem;
}

.works-with {
  overflow-y: hidden;
  overflow-x: auto; /* scroll if > screen width */
  white-space: nowrap;
  margin-bottom: 2rem;
  text-align: center;
}



.message-stack {
  position: absolute;
  right: 0;
  top: -5rem;

  @include media-breakpoint-up(sm) {
    left: calc(50% + 100px);
  }
}

.message-bubble {
  max-width: 200px;
  margin-bottom: 0.4em;

  color: $light;
  padding: 0.4em 0.8em;
  font-size: 1.2em;

  background: #528ab4;
  border-radius: 0.4em;
  text-align: left;

  opacity: 0;
  transform: scale(0.85) translateY(30px);
  transition: 0.9s ease-in-out;

  &:nth-child(2) {
    transition-delay: 0.9s;
  }
}

.message-stack.on .message-bubble {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.center {
  text-align: center;
}
