<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Primary Meta Tags -->
    <title><%= current_page.data.title || "BenefitJS" %></title>
    <meta name="description" content="BenefitJS allows merchants in Bahrain to integrate with BENEFIT debit card payments in minutes. Secure, and open-source!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://benefit-js.com/">
    <meta property="og:title" content="The fastest way to accepts BENEFIT payments!">
    <meta property="og:description" content="BenefitJS allows merchants in Bahrain to integrate with BENEFIT debit card payments in minutes. Secure, and open-source!">
    <meta property="og:image" content="images/preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://benefit-js.com/">
    <meta property="twitter:title" content="The fastest way to accepts BENEFIT payments!">
    <meta property="twitter:description" content="BenefitJS allows merchants in Bahrain to integrate with BENEFIT debit card payments in minutes. Secure, and open-source!">
    <meta property="twitter:image" content="images/preview.png">

    <%= stylesheet_link_tag "site" %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
